name: Deploy Manim-Slides to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y \
          build-essential python3-dev libcairo2-dev libpango1.0-dev ffmpeg  \
          texlive texlive-latex-extra texlive-science

    - uses: prefix-dev/setup-pixi@v0.9.2
      with:
        cache: true

    # Step 4: Generate Manim-Slides HTML
    - name: Generate Manim-Slides HTML
      run: |
        mkdir -p slides_output
        pixi run slides

    # Step 5: Deploy to GitHub Pages
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./slides_output
        destination_dir: .
